# Churn Prediction and Lifetime Value Analysis

## Table of Contents
<!-- TOC-->

- [Step 1: Business Understanding](#step-1-business-understanding)
  - [Scenario](#scenario)
  - [Objective](#objective)
  - [Hypothesis: ...](#hypothesis-)
  - [Key Business Questions](#key-business-questions)
  - [Approach](#approach)
- [Step 2: Data Understanding](#step-2-data-understanding)
  - [Project Initialisation](#project-initialisation)
  - [Data Collection](#data-collection)
    - [Access the LP2_Telco_churn_first_3000 data set from Microsoft SQL Server](#access-the-LP2_Telco_churn_first_3000-data-from-microsoft-sql-server)
      - [Connect to the database using provided credentials](#connect-to-the-database-using-provided-credentials)
      - [Fetch Information Schema for tables in the database](#fetch-information-schema-for-tables-in-the-database)
      - [Load LP2\_Telco\_churn\_first\_3000 Data](#load-lp2_Telco_churn_3000-data)
    - [Access the LP2_Telco_churn_second_2000 data from GitHub Repository](#access-the-LP2_Telco_churn_second_2000-data-from-github-repository)
    - [Access the Telco-churn-last-2000 data from OneDrive](#access-Telco-churn-last-2000-data-from-onedrive)
  - [Exploratory Data Analysis](#exploratory-data-analysis)
- [Step 3: Data Preparation](#step-3-data-preparation)
  - [Data Cleaning](#data-cleaning)
  - [Data Transformation](#data-transformation)
  - [Data Integration](#data-integration)

<!-- /TOC -->

<!-- ## Worlflow
![A beautiful sunset](https://example.com/sunset.jpg "Sunset at the beach") -->

[Back to Top](#Table-of-Contents)

## Step 1: Business Understanding

### Background

### Scenario

### Objective
 
### Hypothesis: Influence of Top Investors

**A. Rationale:**

**B. Null Hypothesis (H0):**

**C. Alternative Hypothesis (H1):**

### Key Business Questions

### Approach

[Back to Top](#Table-of-Contents)

## Step 2: Data Understanding

### Project Initialisation

In [35]:
pip install fancyimpute

Requirement already satisfied: fancyimpute in c:\users\safowaa\documents\azibiafrica\azubipython\customer_churn_analysis\virtual\lib\site-packages (0.7.0)
Requirement already satisfied: knnimpute>=0.1.0 in c:\users\safowaa\documents\azibiafrica\azubipython\customer_churn_analysis\virtual\lib\site-packages (from fancyimpute) (0.1.0)
Requirement already satisfied: scikit-learn>=0.24.2 in c:\users\safowaa\documents\azibiafrica\azubipython\customer_churn_analysis\virtual\lib\site-packages (from fancyimpute) (1.5.0)
Requirement already satisfied: cvxpy in c:\users\safowaa\documents\azibiafrica\azubipython\customer_churn_analysis\virtual\lib\site-packages (from fancyimpute) (1.5.2)
Requirement already satisfied: cvxopt in c:\users\safowaa\documents\azibiafrica\azubipython\customer_churn_analysis\virtual\lib\site-packages (from fancyimpute) (1.3.2)
Requirement already satisfied: pytest in c:\users\safowaa\documents\azibiafrica\azubipython\customer_churn_analysis\virtual\lib\site-packages (from fancyimpute) (8.2.2)
Requirement already satisfied: nose in c:\users\safowaa\documents\azibiafrica\azubipython\customer_churn_analysis\virtual\lib\site-packages (from fancyimpute) (1.3.7)
Requirement already satisfied: six in c:\users\safowaa\documents\azibiafrica\azubipython\customer_churn_analysis\virtual\lib\site-packages (from knnimpute>=0.1.0->fancyimpute) (1.16.0)
Requirement already satisfied: numpy>=1.10 in c:\users\safowaa\documents\azibiafrica\azubipython\customer_churn_analysis\virtual\lib\site-packages (from knnimpute>=0.1.0->fancyimpute) (1.23.0)
Requirement already satisfied: scipy>=1.6.0 in c:\users\safowaa\documents\azibiafrica\azubipython\customer_churn_analysis\virtual\lib\site-packages (from scikit-learn>=0.24.2->fancyimpute) (1.13.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\safowaa\documents\azibiafrica\azubipython\customer_churn_analysis\virtual\lib\site-packages (from scikit-learn>=0.24.2->fancyimpute) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\safowaa\documents\azibiafrica\azubipython\customer_churn_analysis\virtual\lib\site-packages (from scikit-learn>=0.24.2->fancyimpute) (3.5.0)
Requirement already satisfied: osqp>=0.6.2 in c:\users\safowaa\documents\azibiafrica\azubipython\customer_churn_analysis\virtual\lib\site-packages (from cvxpy->fancyimpute) (0.6.7)
Requirement already satisfied: ecos>=2 in c:\users\safowaa\documents\azibiafrica\azubipython\customer_churn_analysis\virtual\lib\site-packages (from cvxpy->fancyimpute) (2.0.14)
Requirement already satisfied: clarabel>=0.5.0 in c:\users\safowaa\documents\azibiafrica\azubipython\customer_churn_analysis\virtual\lib\site-packages (from cvxpy->fancyimpute) (0.9.0)
Requirement already satisfied: scs>=3.2.4.post1 in c:\users\safowaa\documents\azibiafrica\azubipython\customer_churn_analysis\virtual\lib\site-packages (from cvxpy->fancyimpute) (3.2.4.post2)
Requirement already satisfied: iniconfig in c:\users\safowaa\documents\azibiafrica\azubipython\customer_churn_analysis\virtual\lib\site-packages (from pytest->fancyimpute) (2.0.0)
Requirement already satisfied: packaging in c:\users\safowaa\documents\azibiafrica\azubipython\customer_churn_analysis\virtual\lib\site-packages (from pytest->fancyimpute) (24.1)
Requirement already satisfied: pluggy<2.0,>=1.5 in c:\users\safowaa\documents\azibiafrica\azubipython\customer_churn_analysis\virtual\lib\site-packages (from pytest->fancyimpute) (1.5.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc8 in c:\users\safowaa\documents\azibiafrica\azubipython\customer_churn_analysis\virtual\lib\site-packages (from pytest->fancyimpute) (1.2.1)
Requirement already satisfied: tomli>=1 in c:\users\safowaa\documents\azibiafrica\azubipython\customer_churn_analysis\virtual\lib\site-packages (from pytest->fancyimpute) (2.0.1)
Requirement already satisfied: colorama in c:\users\safowaa\documents\azibiafrica\azubipython\customer_churn_analysis\virtual\lib\site-packages (from pytest->fancyimpute) (0.4.6)
Requirement already satisfied: qdldl in c:\users\safowaa\documents\azibiafrica\azubipython\customer_churn_analysis\virtual\lib\site-packages (from osqp>=0.6.2->cvxpy->fancyimpute) (0.1.7.post3)
Note: you may need to restart the kernel to use updated packages.

In [36]:
# Importing necessary libraries
from dotenv import dotenv_values
import pyodbc
import requests
import pandas as pd
import numpy as np
from scipy.stats import skew, kurtosis
from fancyimpute import IterativeImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
import re
import calendar
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

# Suppressing all warnings to avoid cluttering the output
warnings.filterwarnings("ignore")

# Set display options for Pandas DataFrame
pd.set_option("display.max_rows", 100)
pd.set_option("display.max_columns", 100)

from sklearn.metrics import confusion_matrix, classification_report, accuracy_score, roc_auc_score
from sklearn.model_selection import train_test_split, cross_val_score, cross_val_predict


`Data Collection`

<!-- To effectively analyse the Indian start-up ecosystem from 2018 to 2021, comprehensive data collection is crucial. The data will be sourced from multiple datasets that detail startup funding activities within this period. Each dataset will encompass various aspects essential for a holistic understanding of the funding landscape. Specifically, the datasets will include: -->

In [37]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("server")
database = environment_variables.get("database")
username = environment_variables.get("Login")
password = environment_variables.get("password")

In [38]:
# Create a connection string
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

In [39]:
# Use the pyodbc library to pass in the connection string.

connection = pyodbc.connect(connection_string)

In [40]:
# Accessing the data from the database
query = "SELECT * FROM dbo.LP2_Telco_churn_first_3000"

In [41]:
test_1 = pd.read_sql(query, connection)
test_1

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,True,False,1,False,None,DSL,False,True,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.850000,False
1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,True,False,True,False,False,False,One year,False,Mailed check,56.950001,1889.500000,False
2,3668-QPYBK,Male,False,False,False,2,True,False,DSL,True,True,False,False,False,False,Month-to-month,True,Mailed check,53.849998,108.150002,True
3,7795-CFOCW,Male,False,False,False,45,False,None,DSL,True,False,True,True,False,False,One year,False,Bank transfer (automatic),42.299999,1840.750000,False
4,9237-HQITU,Female,False,False,False,2,True,False,Fiber optic,False,False,False,False,False,False,Month-to-month,True,Electronic check,70.699997,151.649994,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2209-XADXF,Female,False,False,False,1,False,None,DSL,False,False,False,False,False,False,Month-to-month,False,Bank transfer (automatic),25.250000,25.250000,False
2996,6620-JDYNW,Female,False,False,False,18,True,True,DSL,True,False,True,False,False,False,Month-to-month,True,Mailed check,60.599998,1156.349976,False
2997,1891-FZYSA,Male,True,True,False,69,True,True,Fiber optic,False,True,False,False,True,False,Month-to-month,True,Electronic check,89.949997,6143.149902,True
2998,4770-UEZOX,Male,False,False,False,2,True,False,Fiber optic,False,True,False,False,False,False,Month-to-month,True,Electronic check,74.750000,144.800003,False
2999,1A1:U3001038-RQOST,Male,False,True,True,19,True,False,No,None,None,None,None,None,None,Month-to-month,False,Mailed check,20.600000,414.950012,False

In [42]:
test_2 = pd.read_csv("LP2_Telco-churn-second-2000.csv")
test_2

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,5600-PDUJF,Male,0,No,No,6,Yes,No,DSL,No,No,No,Yes,No,No,Month-to-month,Yes,Credit card (automatic),49.50,312.7,No
1,8292-TYSPY,Male,0,No,No,19,Yes,No,DSL,No,No,Yes,Yes,No,No,Month-to-month,Yes,Credit card (automatic),55.00,1046.5,Yes
2,0567-XRHCU,Female,0,Yes,Yes,69,No,No phone service,DSL,Yes,No,Yes,No,No,Yes,Two year,Yes,Credit card (automatic),43.95,2960.1,No
3,1867-BDVFH,Male,0,Yes,Yes,11,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,74.35,834.2,Yes
4,2067-QYTCF,Female,0,Yes,No,64,Yes,Yes,Fiber optic,No,Yes,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,111.15,6953.4,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
2039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
2040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
2041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
2042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [43]:
# Close the database connection
connection.close()

`Merge Data`

In [44]:
train_data = pd.concat([test_1, test_2], ignore_index=True)
train_data.to_csv("train_data.csv", index=False)


**A. Feature Details:**

**B. ....:**

`Data Cleaning`

Effective data cleaning is crucial to ensure the integrity and usability of the dataset for analysis. The steps involved in data cleaning will include:

**A. Remove Duplicates:**

Identify and remove duplicate records to ensure that each entry is unique and not counted multiple times. 

**B. Eliminate Irrelevant Data:**

Remove any data that is not relevant to the analysis. This could include fields that do not contribute to the understanding of customer churns or other extraneous information.

In [45]:
# getting data summary
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5043 non-null   object
 1   gender            5043 non-null   object
 2   SeniorCitizen     5043 non-null   int64
 3   Partner           5043 non-null   object
 4   Dependents        5043 non-null   object
 5   tenure            5043 non-null   int64
 6   PhoneService      5043 non-null   object
 7   MultipleLines     4774 non-null   object
 8   InternetService   5043 non-null   object
 9   OnlineSecurity    4392 non-null   object
 10  OnlineBackup      4392 non-null   object
 11  DeviceProtection  4392 non-null   object
 12  TechSupport       4392 non-null   object
 13  StreamingTV       4392 non-null   object
 14  StreamingMovies   4392 non-null   object
 15  Contract          5043 non-null   object
 16  PaperlessBilling  5043 non-null   object
 17  PaymentMethod     5043 non-null   object
 18  MonthlyCharges    5043 non-null   float64
 19  TotalCharges      5038 non-null   object
 20  Churn             5042 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 827.5+ KB

In [46]:
#Get statistical summary of numerical columns 
train_data.describe().T

,count,mean,std,min,25%,50%,75%,max
SeniorCitizen,5043.0,0.162403,0.368857,0.0,0.000,0.000000,0.000000,1.000000
tenure,5043.0,32.576641,24.529807,0.0,9.000,29.000000,56.000000,72.000000
MonthlyCharges,5043.0,65.090214,30.068133,18.4,35.775,70.550003,90.050003,118.650002

In [47]:
#



`Exploratory Data Analysis`

Inspect the dataset in depth, visualise it to answer analytical questions and plan the cleaning, processing and feature creation.

**A. Univariate Analysis:**
Explore, analyze and visualize key variables independently of others

**B. Bivariate Analysis:**
Explore, analyze and visualize the relationship among the variables

**C. Deploy the visualisations to Power Bi:**

[Back to Top](#Table-of-Contents)

## Step 3: Data Preparation & Feature Engineering

`Impute Missing Values`

Use sklearn.impute.SimpleImputer


`Features Creation`



`Features Encoding`
From sklearn.preprocessing use OneHotEncoder to encode the categorical features.


`Feature Scaling`

Use sklearn.preprocessing.StandardScaler to scale the numerical features.


`Train set Balancing`

Use sklearn.utils.resample to balance the dataset and or use Over-sampling/Under-sampling methods, more details here: https://imbalanced-learn.org/stable/install.html

[Back to Top](#Table-of-Contents)

## Step 4: Modeleling and Evaluation
Build, train, and test the four(4)models and models.

`Craete the Model`


`Train the Model`
use the following method to train the model: .fit() method


`Evaluate the Model on the Evaluation dataset`
Compute the valid metrics for the model


`Predict on the unknown dataset`
Use .predict method .predict_proba()


`Save the Model`


`repeat the above method by creating three(3)models`


`Model Comparison`


`Hyperparameter Analysis`

[Back to Top](#Table-of-Contents)

## Step 6: Document the entire process in an article on medium